<%= form_with model: [@card, @pool], local: true, class: "pools-form" do |f| %>  <div class="runner-edit-form-grid">
  <div class="runner-edit-form-column">

    <div class="form-group">
      <%= f.label :suspend %>
      <%= f.check_box :suspend %>
    </div>

    <div class="form-group">
      <%= f.label :close %>
      <%= f.check_box :close %>
    </div>

    <div class="form-group">
      <%= f.label :open %>
      <%= f.check_box :open %>
    </div>

    <div class="form-group">
      <%= f.label :carryover %>
      <%= f.number_field :carryover, step: 0.00000001, class: "form-control" %>
    </div>


    <div class="form-group">
      <%= f.label :guarantee %>
      <%= f.number_field :guarantee, step: 0.00000001, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :total %>
      <%= f.number_field :total, step: 0.00000001, class: "form-control" %>
    </div>
  </div>
</div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>