<% if @card.nil? %>
  <h3>Todays Races</h3>
<% else %>
  <h3><%= @card.name %></h3>
<% end %>

<% if @races.any? %>
  <table class="table">
    <thead>
    <tr>
      <% if @card.nil? %>
        <th>Card</th>
      <% end %>
      <th>Number</th>
      <th>Name</th>
      <th>Time</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @races.each do |race| %>
      <tr>
        <% if @card.nil? %>
          <th><%= race.card.name %></th>
        <% end %>
        <td><%= race.number %></td>
        <td><%= race.name %></td>
        <td><%= race.time&.strftime("%H:%M") %></td>
        <td>
          <!-- TODO: view should navigate to the race show page, listing all the runners -->
          <!-- TODO: add runners relation -->
          <div class="actions">
            <%= button_to "View",
                          race_path(race),
                          method: :get,
                          class: "action-button" %>
            <%= button_to "Edit",
                          edit_race_path(race),
                          method: :get,
                          class: "action-button" %>
            <%= button_to "Add Runners",
                          new_race_runner_path(race),
                          method: :get,
                          class: "action-button" %>
            <%= button_to "Delete",
                          race_path(race),
                          method: :delete,
                          form: { onsubmit: "return confirm('Are you sure you want to delete this race?')" },
                          class: "action-button" %>
          </div>      <!-- TODO: add a delete button -->
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No races have been added yet.</p>
<% end %>